#root {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
   display: flex;
   min-height:100vh;
  flex-direction: column;
}

#root{
  overflow: hidden;
}
#grcontent{
  flex: 1;
}

.extra-large {
  font-size: 4em;
  line-height: 1.2em;
}

.intro-container {
  padding: 5em;
}

.el-menu-header {
  border-radius: 0;
}

.el-menu-item-right {
  float: right !important;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
