{
  "presets": [
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    ["component", [{
      "libraryName": "element-ui",
      "styleLibraryName": "~public/src/assets/css/element-theme"
    }]]
  ]
}
